tickTime={{ zookeeper.configuration.tick_time }}
dataDir={{ zookeeper.configuration.data_dir }}
clientPort={{ zookeeper.configuration.port }}
initLimit={{ zookeeper.configuration.init_limit }}
syncLimit={{ zookeeper.configuration.sync_limit }}
